<h1>Teams</h1>

<%= turbo_frame_tag :teams do %>
  <% @teams.each do |team| %>
    <%= render team %>
    <p>
      <%= link_to "Show this team", team %>
    </p>
  <% end %>
<% end %>

<%= link_to "New team", new_team_path %>
