<h1>Editing invite link</h1>

<%= render "form", herd: @herd, invite_link: @invite_link %>

<br>

<div>
  <%= link_to "Show this invite link", herd_invite_link_path(@herd, @invite_link) %> |
  <%= link_to "Back to invite links", herd_invite_links_path(@herd) %>
</div>
