<h1>Editing invite link</h1>

<%= render "form", team: @team, invite_link: @invite_link %>

<br>

<div>
  <%= link_to "Show this invite link", team_invite_link_path(@team, @invite_link) %> |
  <%= link_to "Back to invite links", team_invite_links_path(@team) %>
</div>
