@use "theme/fn";

body {
  display: grid;
  grid-template-rows: minmax(120px, auto) 1fr;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  background-repeat: repeat;
  min-height: 100vh;

  @include fn.smaller_than(lg) {
    grid-template-columns: repeat(10, 1fr);
  }

  @include fn.smaller_than(sm) {
    grid-template-columns: 20px repeat(6, 1fr) 20px;
  }

  > * {
    grid-column: 3 / -3;

    @include fn.smaller_than(lg) {
      grid-column: 2 / -2;
    }
  }
}

header {
  display: grid;
  grid-template-columns: subgrid;

  > a {
    display: flex;
    align-items: center;
    grid-column: 1 / span 3;

    h1 {
      margin: 0;

      ph-cow {
        transform: translateY(5.5px);
        display: inline-block;
      }
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    grid-column: 4 / -1;

    button[type=submit] {
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      color: fn.colour(primary);
    }
  }
}

main {
  display: grid !important;
  grid-template-columns: subgrid;

  > * {
    grid-column: 1 / -1;
  }

  > form:not(.button_to) {
    grid-column: 1 / span 3;

    @include fn.smaller_than(lg) {
      grid-column: 1 / -4;
    }

    @include fn.smaller_than(md) {
      grid-column: 1 / -1;
    }
  }
}