@use "theme/fn";

:root {
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
  background-repeat: repeat;
}

body {
  display: grid;
  grid-template-rows: minmax(120px, auto);
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;

  @include fn.smaller_than(lg) {
    grid-template-columns: repeat(10, 1fr);
  }

  @include fn.smaller_than(sm) {
    grid-template-columns: 20px repeat(6, 1fr) 20px;
  }

  > * {
    grid-column: 3 / -3;

    @include fn.smaller_than(lg) {
      grid-column: 2 / -2;
    }
  }
}

header {
  display: grid;
  grid-template-columns: subgrid;

  > a {
    display: flex;
    align-items: center;
    grid-column: 1 / span 3;

    h1 {
      margin: 0;

      .ph-cow {
        transform: translateY(2.5px);
        display: inline-block;
      }
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
    grid-column: 4 / -1;

    button[type=submit] {
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      color: fn.token(primary);
    }
  }
}

main {
  display: grid !important;
  grid-template-rows: auto;
  grid-template-columns: subgrid;
  grid-row: 2 / -1;
  gap: 1rem;

  > * {
    grid-column: 1 / -1;
  }

  > form:not(.button_to) {
    grid-column: 1 / span 3;

    @include fn.smaller_than(lg) {
      grid-column: 1 / -4;
    }

    @include fn.smaller_than(md) {
      grid-column: 1 / -1;
    }
  }
}

.section__container {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: auto;
  gap: 1rem;
  grid-auto-flow: row;

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 0;
    padding: 1.5rem 1rem;
    border-radius: fn.token(border-radius);

    background: fn.token(muted-border-color);
    border: 1px solid fn.token(contrast-focus);
    box-shadow: fn.token(box-shadow);

    grid-column-end: span 2;

    &.large {
      grid-column-end: span 4;
    }

    @include fn.smaller_than(xl) {
      grid-column-end: span 4;

      &.large {
        grid-column: 1 / -1;
      }
    }

    @include fn.smaller_than(md) {
      grid-column: 1 / -1;
    }

    > h3 {
      font-size: 1.1rem;
      margin: 0;
    }

    > form > button {
      margin: 0;
    }

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      flex: 1 0 100%;
    }
  }
}