<header>
  <%= link_to root_path do %>
    <h1>
      <i class="ph-fill ph-cow"></i>
      Vachinator
    </h1>
  <% end %>

  <nav>
    <% if Current.user %>
      <%= Current.user.username %>
      <%= button_to "Try Log out", Current.session, method: :delete %>
    <% else %>
      <%= button_to "Try Sign in", sign_in_path, method: :get %>
    <% end %>
  </nav>
</header>